.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: red;
  grid-row-gap: 30px;
  grid-column-gap: 30px;
}
.container > .item {
  background-color: blueviolet;
  padding: 30px;
  color: antiquewhite;
  margin: 5px 0px;
}
.item1 {
  grid-column-start: 1;
  grid-column-end: 3;
}
.item2 {
}
.item3 {
}
.item4 {
}
.item5 {
}
.item6 {
}
