.text {
  background-color: #f39c12;
}
.text {
  background-color: #f39c12;
  max-width: 500px;
  min-height: 50px;
}
/* @media (max-width: 768px) {
  input {
    display: block;
  }
} */

@media (max-width: 808px) {
  .column {
    width: 100%;
    background-color: red;
  }
}
